 version: '3.8'

 services:
   nginx:
     image: nginx:alpine
     ports:
       - "80:80"
     volumes:
       - ./nginx/conf/nginx.conf:/etc/nginx/nginx.conf
       - ./nginx/conf/conf.d:/etc/nginx/conf.d
       - ./nginx/logs:/var/log/nginx
     deploy:
       replicas: 1
       restart_policy:
         condition: on-failure
       placement:
         constraints:
           - node.role == manager
     networks:
       - fastapi-network

   users-service:
     image: users-service:latest
     deploy:
       replicas: 2
       restart_policy:
         condition: on-failure
     networks:
       - fastapi-network
     environment:
       - PYTHONUNBUFFERED=1


   product-service:
     image: product-service:latest
     deploy:
       replicas: 2
       restart_policy:
         condition: on-failure
     networks:
       - fastapi-network
     environment:
       - PYTHONUNBUFFERED=1


   order-service:
     image: order-service:latest
     deploy:
       replicas: 2
       restart_policy:
         condition: on-failure
     networks:
       - fastapi-network
     environment:
       - PYTHONUNBUFFERED=1

 networks:
   fastapi-network:
     driver: overlay
